#header {
  background: #333;
  height: $footer-height;
  color: #F1F1F1;
  height: 70px;
  z-index: 10;

  .nav-container {
    height: 100%;
  }

  button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    border: 0;
    padding: 0 20px;
    color: #FFF;
    background: #333;
    border: 1px solid #7a6ff5;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    font-size: 0.85em;
    transition: 0.2s;
    border-radius: 2px;

    &:first-child {
      margin-left: 10px;
    }

    &:hover {
      background: #5b4fda;
      transition: background 0.2s;
    }

    &::after {
      content: '';
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle
    }
  }
}
