#main {
  position: absolute;
  left: 250px;
  right: 0;
  bottom: 0;
  top: 70px;
  display: block;
  will-change: transform, left;
  z-index: 5;
  background: #FFF;

  .region {
    padding: 35px;
    min-width: 350px;
    height: calc(100% - 75px);
    border-left: 1px solid #CCC;
  }
}
