#footer {
  background: #2D3133;
  height: $footer-height;
  line-height: $footer-height;
  color: #F1F1F1;
  text-align: right;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;

  button {
    display: inline-block;
    background: #f56d6d;
    padding: 0 15px;
    border: 0;
    color: #FFF;
    vertical-align: middle;

    &:hover {
      background: #e66161;
      transition: background 0.2s;
    }
  }
}
