#main {
  float: right;
  display: block;
  height: calc(100% - #{$footer-height});
  will-change: transform;
  position: relative;
  z-index: 5;
  background: #F1F1F1;

  .region {
    margin: 35px 0 15px 0;
    padding: 35px;
    min-width: 350px;
    height: calc(100% - 15px);
    background: #F9F9F9;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
}
