#main {
  position: absolute;
  left: 250px;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
  will-change: transform, left;
  z-index: 5;
  background: #F1F1F1;

  .region {
    margin: 35px 0 15px 0;
    padding: 35px;
    min-width: 350px;
    height: calc(100% - 75px);
    background: #F9F9F9;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
}
