$list-height: 50px;

#sidebar {
  display: block;
  float: left;
  overflow: hidden;
  height: calc(100% - #{$footer-height});
  margin-right: -15px;

  .logo {
    width: 50px;
    height: 30px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 40px;

    img {
      margin: 0 auto;
      max-width: 100%;
    }
  }

  .sidebar-slide {
    position: relative;
    white-space: nowrap;
  }

  .navigation {
    display: inline-block;
    margin-top: 100px;
    vertical-align: top;

    h5 {
      text-align: center;
      font-size: 1.2em;
      color: #000;
    }

    ul {
      text-align: center;
      padding: 0;

      li {
        display: block;
        transition: 0.2s;
        list-style-type: none;
        height: $list-height;
        line-height: $list-height;

        &:hover {
          a {
            background: #e4e4e4;
            transition: background 0.2s;
          }
        }

        &.active {
          background: #DEDEDE;

          a {
            cursor: default;
            background: #e4e4e4;
          }
        }

        a {
          display: block;
          width: 100%;
          height: 100%;
          color: #666;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 0.85em;

          &:hover {
            text-decoration: none;
          }

          &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }

  .backButton {
    button {
      position: absolute;
      margin: 35px;
      top: 0;
      background: #FFF;
      border: 0;
      background: none;
      z-index: 1;
      padding: 5px 15px;
      font-size: 0.9em;
      text-transform: uppercase;
    }
  }

  .routing {
    display: inline-block;
    vertical-align: top;
  }
}
